body{
  margin: 0;
  padding: 0;
}
nav ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  float: right;
  margin-right: 15px;
}
nav ul li{
  display: inline-block;
  line-height: 8px;
  margin: 0 15px;
  margin-top: 35px;
}
nav ul li a{
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: 500;
}
nav ul li a:before{
  position: absolute;
  content: '';
  left:0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .2s linear;
}
nav ul li a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
nav{
  height: 80px;
  background: #5cdb95;
}
nav span img{
  width: 150px;
  position: absolute;
  top: -30px;
  left: 12%;
}
label #btn,
label #cancel{
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1118px){
  nav span img{
    left: 8%;
  }
}
@media (max-width: 860px){
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #5cdb95;
    top: 80px;
    left: -100%;
    text-align: center;
    transition:  all .5s;

  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 10px;
  }

  #check:checked ~ ul{
    left: 0;
  }
  #check:checked ~ label #btn{
    display: none;
  }
  #check:checked ~ label #cancel{
    display: block;
  }
}

@media (max-width: 994px){
  
  nav span img{
    left: 6%;
    top: 20px;
    width: 110px;
    top: -8px;
  }
  nav ul li a{
    font-size: 13px;
    font-weight: 500;
  }
}